# Load Electrification

The load electrification data provides information about the fraction of the total enduses that are electric.  A non-unitary fraction can be the result of natural gas resources being used directly at the point of use, e.g., gas heating, or it can be the result of partial penetration of the enduse, such as cooling in regions with mild climates.

The load electrification data is presented in a single file with the location id as the primary index.  Location ids are usually specified as the local major airport code, e.g., `ORD` for "Chicago IL".  In the case of WECC, some location ids as also specified as the climate regions, e.g., `DSW` for "Desert Southwest".  

Load electrification data is typically known only regionally, and then projected to individual locations within each region.  For that reason, the regional data and the location data are almost always identical.

In [1]:
import load_model as lm
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows=7
electrification = lm.load_electrification()
electrification

,city,region,building_type,heat_pump,other_electric_heat,cooling,water_heating,cooking
location,,,,,,,,
YFC,Fredericton NB,Canada,residential,0.00,0.67,0.00,0.00,0.00
YHZ,Halifax NS,Canada,residential,0.00,0.33,0.00,0.00,0.00
YOW,Ottawa ON,Canada,residential,0.00,0.28,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...
RMN,Rocky Mountains,Mountain,commercial,0.10,0.13,0.84,0.40,0.31
DWS,Desert Southwest,Mountain,commercial,0.10,0.13,0.84,0.40,0.31
HID,High Desert,Mountain,commercial,0.10,0.13,0.84,0.40,0.31

In [2]:
electrification.loc["NYC"]

,city,region,building_type,heat_pump,other_electric_heat,cooling,water_heating,cooking
location,,,,,,,,
NYC,New York NY,Middle Atlantic,residential,0.03,0.11,0.88,0.31,0.43
NYC,New York NY,Middle Atlantic,commercial,0.09,0.06,0.89,0.41,0.31

In [3]:
electrification[["heat_pump","other_electric_heat","cooling","water_heating","cooking"]]

          heat_pump  other_electric_heat  cooling  water_heating  cooking
location
YFC            0.00                 0.67     0.00           0.00     0.00
YHZ            0.00                 0.33     0.00           0.00     0.00
YOW            0.00                 0.28     0.00           0.00     0.00
...             ...                  ...      ...            ...      ...
RMN            0.10                 0.13     0.84           0.40     0.31
DWS            0.10                 0.13     0.84           0.40     0.31
HID            0.10                 0.13     0.84           0.40     0.31

[176 rows x 5 columns]

In [4]:
electrification[["heat_pump"]][electrification["building_type"]=="residential"]

          heat_pump
location
YFC            0.00
YHZ            0.00
YOW            0.00
...             ...
RMN            0.08
DWS            0.08
HID            0.08

[88 rows x 1 columns]

In [5]:
electrification[["building_type","cooling"]][electrification["region"]=="Pacific"]

         building_type  cooling
location
SFO        residential     0.66
SMF        residential     0.66
LAX        residential     0.66
...                ...      ...
SCC         commercial     0.88
SCI         commercial     0.88
SCV         commercial     0.88

[34 rows x 2 columns]

In [6]:
lm.load_electrification(select={"region":"Pacific"})

,city,region,building_type,heat_pump,other_electric_heat,cooling,water_heating,cooking
location,,,,,,,,
SFO,San Francisco CA,Pacific,residential,0.07,0.25,0.66,0.32,0.53
SMF,Sacremento CA,Pacific,residential,0.07,0.25,0.66,0.32,0.53
LAX,Los Angeles CA,Pacific,residential,0.07,0.25,0.66,0.32,0.53
...,...,...,...,...,...,...,...,...
SCC,Southern California Coast,Pacific,commercial,0.15,0.21,0.88,0.51,0.22
SCI,Southern California Interior,Pacific,commercial,0.15,0.21,0.88,0.51,0.22
SCV,Southern California Valley,Pacific,commercial,0.15,0.21,0.88,0.51,0.22

# Example 1

This example retrieves the commercial building load electrification data table of New York.

In [7]:
lm.load_electrification(select={"building_type":"commercial","location":"NYC"})

,city,region,building_type,heat_pump,other_electric_heat,cooling,water_heating,cooking
location,,,,,,,,
NYC,New York NY,Middle Atlantic,commercial,0.09,0.06,0.89,0.41,0.31

# Example 2

This retrieves the residential load electrification data for San Francisco as a Numpy array and as a Python dictionary with data columns as the primary key and location as the secondary key.

In [8]:
lm.load_electrification(select={"building_type":"residential","location":"SFO"},
                        columns=["heat_pump","other_electric_heat","cooling","water_heating","cooking"],
                        convert=np.array)

array([[0.07, 0.25, 0.66, 0.32, 0.53]])

In [9]:
lm.load_electrification(select={"building_type":"residential","location":"SFO"},
                        columns=["heat_pump","other_electric_heat","cooling","water_heating","cooking"]).to_dict(orient='dict')

{'heat_pump': {'SFO': 0.07},
 'other_electric_heat': {'SFO': 0.25},
 'cooling': {'SFO': 0.66},
 'water_heating': {'SFO': 0.32},
 'cooking': {'SFO': 0.53}}

# Example 3

This retrieves the commercial load electrification data for New England as a Python dictionary with location are the primary key, and data items as the secondary key.

In [10]:
lm.load_electrification(select={"building_type":"residential","region":"Middle Atlantic"}).to_dict(orient="index")

{'NYC': {'city': 'New York NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'ALB': {'city': 'Albany NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'UCA': {'city': 'Utica NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'SYR': {'city': 'Syracuse NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'BUF': {'city': 'Buffalo NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'RST': {'city': 'Rochester NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'PBG': {'city': 'Plattsburg NY',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'PHL': {'city': 'Philadelphia PA',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43},
 'PIT': {'city': 'Philadelphia PA',
  'region': 'Middle Atlantic',
  'building_type': 'residential',
  'heat_pump': 0.03,
  'other_electric_heat': 0.11,
  'cooling': 0.88,
  'water_heating': 0.31,
  'cooking': 0.43}}

# Example 4

This retrieves a list of the available regions.

In [11]:
list(np.unique(list(lm.load_electrification(columns={"region"}).to_dict("list").values())[0]))

['Canada',
 'East North Central',
 'East South Central',
 'Middle Atlantic',
 'Mountain',
 'New England',
 'Pacific',
 'South Atlantic',
 'West North Central',
 'West South Central']